.signup-container.inner-container.small-container
  #signup-form
    .title-page
      .circle
        i.icon-user
      h1= t('signup.with-email')
    form.form(action='/signup', method="post", role="form", autovalidate='autovalidate', autosubmit='autosubmit')
      - if (reference)
        input(type='hidden', name='reference', value=reference)
      ul.form-errors
      .form-group
        label= t('signup.email')
        input.form-control(type='email', name='email', tabindex=1, placeholder=t('forgot.mail.example'), validate='required email')
      .form-group
        label #{t('signup.your-firstname')}
        input.form-control(type='text', id='firstName', name='firstName', tabindex=2, placeholder=t('signup.firstname'), validate='required firstname')
      .form-group
        label #{t('signup.your-lastname')}
        input.form-control(type='text', id='lastName', name='lastName', tabindex=3, placeholder=t('signup.lastname'), validate='required lastname')
      .form-group
        label #{t('signup.phone')}
        input.form-control(type='number', id='phone', name='phone', tabindex=3, placeholder=t('signup.phone.placeholder'), validate='required phone')
        p.help-block= t('signup.phone.help')
      .form-group
        label #{t('signup.dni')}
        input.form-control(type='number', id='dni', name='dni', tabindex=3, placeholder=t('signup.dni.placeholder'), validate='required dni')
      .form-group
        label= t('password')
        input.form-control(type='password', name='password', tabindex=4, placeholder=t('password'), validate='required min-length:6')
      .form-group
        label= t('signup.retype-password')
        input.form-control(type='password', name='re_password', tabindex=5, placeholder=t('password.repeat'), validate='required same:password')
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=6)=t('signup.now')
      - var tos = config.termsOfService;
      - var pp = config.privacyPolicy;
      - if (tos || pp)
        .form-group.help-block
          p=t('signup.accepting')
          - if (pp)
            p: a(href='/help/terms-of-service', target='_blank')!=t('help.tos.title')
          - if (tos)
            p: a(href='/help/privacy-policy', target='_blank')!=t('help.pp.title')
  #signup-message.hide
    h1 Welcome
    p.lead.text-muted #{t('signup.received')}.
    p.lead.text-muted= t('signup.check-email')
    a(href='/signup/resend-validation-email')= t('signup.resend-validation-sms')
