doctype html5
html(lang='en')
  head
    block head
      //-
      //-   Basic Page Needs
      //-   ==================================================
      title= config.organizationName

      meta(charset='utf-8')
      meta(name='description', content='')
      meta(name='author', content='')

      //-
      //-   Mobile Specific Metas
      //-   ==================================================
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

      //-
      //-   CSS
      //-   ==================================================

      //- Boostrap Complete
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
      link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')
      include includes/selectize-styles

      //- Application Styles
      link(rel='stylesheet', href='/app.css')

      //- HTML5 shim, for IE6-8 support of HTML5 elements
      //if lt IE 9
      script(type='text/javascript', src='//html5shim.googlecode.com/svn/trunk/html5.js')

      link(rel="icon", type="image/x-icon", href=config.favicon)

      script.
        var csrfToken = '#{csrfToken}';

      include includes/remove-hash

  body
    block body
      #snap-content.snap-content
        //- Start of `Page Content`
        - var color = config.headerBackgroundColor;
        - var headerClassName = config.headerContrast ? 'with-contrast' : '';
        header.app-header(style=color ? 'background-color: #{color};' : '', class=headerClassName)
        section#content.site-content
          block content
        section#browser.site-content
          section.app-content

      .snap-drawers
        aside.nav-proposal


      //- End of `Page Content`
      //- ======================
      //- Start of `Javascripts`

      //- Core 3rd parties libs
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
      script(src='//code.jquery.com/ui/1.11.3/jquery-ui.min.js')
      include includes/placeholders
      //- General Site javascript
      script.
        window.config=!{JSON.stringify(client)}
        window.config.locale='#{locale}'
        window.translations=!{JSON.stringify(translations)}
      include includes/selectize
      script(src='/app.js')

      //- Boot application
      script require('./lib/boot');

      //- End of `Javascripts`

      //- Fonts
      link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,700italic,400italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
