#profile-wrapper.hide
  .profile-settings
    .heading
      .circle
        i.icon-user
      h1= t('settings.profile')
    form.form(action="/settings/profile", method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      .form-group.profile-first-name
        label #{t('settings.first-name')}
        input.form-control(type='text', id="firstName", name='firstName', tabindex=1, placeholder=t('settings.first-name'), value=citizen.firstName, validate='required firstname')
      .form-group.profile-last-name
        label #{t('settings.last-name')}
        input.form-control(type='text', id="lastName", name='lastName', tabindex=2, placeholder=t('settings.last-name'), value=citizen.lastName, validate='required lastname')
      .form-group.profile-email
        label= t('signup.email')
        input.form-control(type='text', name='email', tabindex=3, placeholder=t('forgot.mail.example'), value=citizen.email, validate='required email')
      .form-group.profile-phone
        label= t('signup.phone')
        input.form-control(type='number', name='phone', tabindex=3, placeholder=t('signup.phone.placeholder'), value=citizen.phone, validate='required phone')
      .form-group.profile-dni
        label= t('signup.dni')
        input.form-control(type='number', name='dni', tabindex=3, placeholder=t('signup.dni.placeholder'), value=citizen.dni, validate='required dni')
      .form-group.profile-locale
        label #{t('settings.locale')}
        select.form-control(id='locale', name='locale', tabindex=4)
      .form-group.profile-picture
        .image-container
          img(src=citizen.profilePicture(), width="65")
        .controls
          a(href="https://gravatar.com", target="_blank")
            strong= t('settings.change-at-gravatar')
          input.form-control(type='text', name='profilePictureUrl', tabindex=5, placeholder=t('settings.paste-url-image'), value=citizen.profilePictureUrl, validate='url')
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=6)=t('settings.save')
